openapi: "3.0.0"
info:
  title: "Shopify Admin API"
  description: "The REST Admin API lets you build apps and other integrations for the Shopify admin."
  version: "2023-07"
servers:
  - url: https://docteststore.myshopify.com
paths:
  /admin/api/2023-07/customers/{customer_id}/orders.json:
    get:
      summary: "Retrieves all orders belonging to a customer. The query string parameters that are available to the  Order resource are also available to this endpoint."
      description: "https://shopify.dev/docs/api/admin-rest/2023-07/resources/customer#get-customers-customer-id-orders"
      parameters:
        - in: "path"
          name: "customer_id"
          required: true
          schema:
            type: "string"
          description: "customer_id"
      tags:
        - "customers"
        - "customer"
        - "customers/customer"
      responses:
        200:
          description: ""
      operationId: "deprecated_202307_get_customers_param_customer_id_orders"
  /admin/api/2023-07/draft_orders.json:
    post:
      summary: Create a draft order
      description: "https://shopify.dev/docs/api/admin-rest/2023-07/resources/draftorder#post-draft-orders"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                draft_order:
                  type: object
                  properties:
                    line_items:
                      type: array
                      items:
                        type: object
                        properties:
                          variant_id:
                            type: integer
                          quantity:
                            type: integer
      responses:
        '200':
          description: Draft order created successfully
